/* Clean up default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* HERO SECTION - The Dark Blue Part */
.hero-section {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 50px 15% 100px 15%; /* Large side padding centers the content */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero-content {
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    max-width: 1200px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.hero-img {
    width: 500px;
    height: 350px;   
    overflow: hidden;  
    border-radius: 15px; 
    border: 4px solid #e5e7eb;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.info-section {
    padding: 60px 15%;
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 150px;
}

.card a {
    text-decoration: none;
    color: #1f2937;
}

.card img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    object-fit: cover; /* This makes sure the image fills the square */
}

button {
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1f2937;
}